body{
    max-width: 1270px;
    background-color: cyan;
    margin: 0 auto;
}

.hero-containner{
    display: flex;
    gap: 20px;
    background-color: blanchedalmond;
    padding: 20px;
    font-size: 20px;
    align-items: center;
    border-radius: 30px;
    margin-top: 30px;
}
.hero-containner img{
    width: 100%;
    height: 400px;
    border-radius: 25px;
}

button{
    background-color: #8BCEF7;
    border: 2px solid black;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 3px 5px gray;
}

button:hover{
    background-color: #0191F5;
}